<!-- 注文履歴一覧 -->
<h3>注文履歴一覧</h3>

<p>注文日</p>

<p>配送先</p>

<p>注文商品</p>

<p>支払金額</p>

<p>注文詳細</p>
<% @orders.each do |order| %>
<%= link_to '表示する',order_path(order) %>

<%= order.order_status %>

<% end %>