
<h2>支払い方法</h2><br>
<p>クレジットカード</p><br>
<p>銀行振込</p><br>
<h2>お届け先</h2><br>
<p>ご自身の住所</p><br>
<p>登録済住所から選択</p><br>
<h2>新しいお届け先</h2><br>
<p>郵便番号</p><input type="text" class="form-control">
<p>住所</p><input type="text" class="form-control">
<p>宛名</p><input type="text" class="form-control">

<%= link_to '確認画面に進む', "check" %>
