      <table class="table">
        <h4>注文確認画面</h4>
          <thead>
            <tr>
              <th><商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <%= @user.postal_code %>



                <tbody>
                  <tr>
                    <td>
                      <a>商品画像</a>
                    </td>
                    <td>
                　　　<a>値段</a>
                    </td>
                    <td>
                      <a>数</a>
                    </td>
                    <td>
                      <a>金額</a>
                    </td>
                    <td>

                    </td>

                  </tr>
                </tbody>

      </table>

      <h2>支払い方法</h2>
      <h2>お届け先</h2>

<%= link_to '購入を確定する', "thanks" %>