<!-- 配送先編集ページ -->
<table class="table table-striped">
		<h2>配送先編集</h2>
		<tr>
			<th>郵便番号</th>
			<td><%= @deliveries.delivery_postal_code %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= @deliveries.delivery_address %></td>
		</tr>
		<tr>
			<th>宛名</th>
			<td><%= @deliveries.delivery_name %></td>
		</tr>
</table>